<ng-container *ngIf="!errorStatus else loadErrorPage">
<div class="container">
    <div>
      <ul class="stockExchanges">
        <div class="select"><b>Stock Price of <span>{{stockValue.stockName}}</span> is <span>{{stockValue.price}}</span></b></div>
        <li (click)="goToMainMenu()">
            <span>Main menu</span>
        </li>
        <li (click)="goToStockMenu()">
            <span>Go back</span>
        </li>
      </ul>
    </div>
  </div>
</ng-container>

<ng-template #loadErrorPage>
  <app-error-page [errorStatus]="errorStatus"></app-error-page>
</ng-template>