.container {
    background-color: #001eff;
    padding: 20px;
    color: #ffffff;
    display: flex;
    img{
        width: 25px;
        padding-right: 8px;
        width: 130px;
        cursor: pointer;
    }
}